{% extends "base.html" %}
{% block content %}  
<form action = "/setcookie" method = "POST">      	
	 	{{ form.hidden_tag() }}
    	<p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(size=32) }}
            {% for error in form.age.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p><input type = 'submit' value = 'Set cookie'/></p>    	
      </form>
{% endblock %}
